 Its not a an external library like matplotlib or pandas...
 basically its built-in pandas module...
 <br>
 comes with prepackage in Python.. however its not triggered or activated by default...
 <br>
 From Python Developer side:  is to perserve memory:
 buz not every single Python project involve dealing with date and time.. so it makes sense...
 <br>
 so we have to speciafially told Python ... we want to import this datetime module.....
 <br>
 so its like an internal library ... Python loads on demand

In [1]:
import pandas as pd
import datetime as dt

date is an object which is used to store the date...

In [5]:
# year,month, day

some_day = dt.date(year = 2016, month = 4, day = 12)
# dt.datetime.now()

In [6]:
# some attributes
some_day.year
some_day.month
some_day.day

12

In [11]:
# now lets create a datetime object

In [7]:
dt.datetime(year = 2016,month = 1, day = 20)
# default is midnight

datetime.datetime(2016, 1, 20, 0, 0)

In [9]:
dt.datetime(year = 2016,month = 1,day = 20, hour = 8, minute = 45, second = 57)
# year,month,day,hour,minute,second
# and think... always think in military time (German)

datetime.datetime(2016, 1, 20, 8, 45, 57)

In [10]:
str(dt.datetime(2016,1,20,18,45,57))

'2016-01-20 18:45:57'

In [11]:
some_time = dt.datetime(2016,1,20,18,45,57)

In [24]:
some_time.year
some_time.month
some_time.minute
some_time.second

57

#### Pandas Timestamp object

Its pandas version of python datetime.. <br>
single time stamp or single moment in time <br>
if user doesn;t provide time... then by default is midnight <br>

In [13]:
# dashes
pd.Timestamp("2015-03-31")

Timestamp('2015-03-31 00:00:00')

In [14]:
# slaches
pd.Timestamp("2015/03/31")

Timestamp('2015-03-31 00:00:00')

In [15]:
# comaes
pd.Timestamp("2013,04,11")

Timestamp('2013-11-01 00:00:00')

In [17]:
pd.Timestamp("1,4,2015") # first one is month

Timestamp('2015-01-04 00:00:00')

In [18]:
pd.Timestamp("2021-03-08 18:55:02") #

Timestamp('2021-03-08 18:55:02')

In [19]:
pd.Timestamp("2021-03-08 8:55:02 PM") #

Timestamp('2021-03-08 20:55:02')

In [21]:
# directly from Python datetime object
x = dt.date(2015,12,18)
pd.Timestamp(x)

Timestamp('2015-12-18 00:00:00')

#### pandas DateTimeIndex Object

Basically colllections of pandas Timestamp s .. <br>

In [22]:
date = ["1990-02-17","1990-01-01","1962-06-10","2016-05-14"]

In [25]:
pd.DatetimeIndex(date)

DatetimeIndex(['1990-02-17', '1990-01-01', '1962-06-10', '2016-05-14'], dtype='datetime64[ns]', freq=None)

it will do two things: <br>
1) first it will convert these strings to pandas Timestamps ... <br>

In [27]:
values = [100,200,300,400]
pd.Series(data=values,index=date)

1990-02-17    100
1990-01-01    200
1962-06-10    300
2016-05-14    400
dtype: int64

In [23]:
## how to iterate date-time index..

In [2]:
d = ["1990-02-17","1990-01-01","1962-06-10","2016-05-14"]

In [9]:
x = pd.DatetimeIndex(d)
type(x)

pandas.core.indexes.datetimes.DatetimeIndex

In [16]:
x[0:3:1]

DatetimeIndex(['1990-02-17', '1990-01-01', '1962-06-10'], dtype='datetime64[ns]', freq=None)

In [22]:
for i in range(len(x)):
    print(x[i])

1990-02-17 00:00:00
1990-01-01 00:00:00
1962-06-10 00:00:00
2016-05-14 00:00:00

#### pd.to_datetime() method

It is a conviennt method to convert existing object to pandas datetime object....

In [37]:
# this is a very versatile method to convert... like below...
# we are converting 4 formats.... last one is an array ... 
pd.to_datetime("2010-01-01")
pd.to_datetime(dt.date(2010,1,1))
pd.to_datetime(dt.datetime(2010,1,1,12,12,35))
pd.to_datetime(["1990-02-17","1990/01/01","1962","July 4th, 1996"])

DatetimeIndex(['1990-02-17', '1990-01-01', '1962-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [35]:
# it can also convert a series to timestamps.. no problem...
times = pd.Series(["1990-02-17","1990/01/01","1962","July 4th, 1996"])
times

0        1990-02-17
1        1990/01/01
2              1962
3    July 4th, 1996
dtype: object

In [36]:
pd.to_datetime(times)

0   1990-02-17
1   1990-01-01
2   1962-01-01
3   1996-07-04
dtype: datetime64[ns]

In [38]:
# when its is failed...??

In [40]:
funky = pd.Series(["July 4th,2000","October 4th, 1991", "hellow","2012-02-31"])

In [42]:
pd.to_datetime(funky,errors="coerce")
# this is a useful tag... errors = "coerce".. it means what ever is ok.. just convert and if
# something doesn't make sense... write NaT..
# NaT is same like Nan ... NaN is for int,float and NaT is for datetime formats..

0   2000-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [ ]:
# unix time is .. number of seconds since 1970.. perhaps..

In [46]:
pd.to_datetime([915148798.75,1095379199.00,1095379199.25,1095379199.50,1095379199.75], unit = "s")

DatetimeIndex(['1998-12-31 23:59:58.750000',        '2004-09-16 23:59:59',
               '2004-09-16 23:59:59.250000', '2004-09-16 23:59:59.500000',
               '2004-09-16 23:59:59.750000'],
              dtype='datetime64[ns]', freq=None)

#### Create a range of Dates.....

In [1]:
%reset -f
import pandas as pd
import datetime as dt

In [4]:
 t = pd.date_range(start="2010-01-01",end="2010-01-10", freq="D")

In [10]:
t[::]

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10'],
              dtype='datetime64[ns]', freq='D')

In [9]:
pd.date_range(start="2010-01-01",end="2010-01-10", freq="2D")

DatetimeIndex(['2010-01-01', '2010-01-03', '2010-01-05', '2010-01-07',
               '2010-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [14]:
pd.date_range(start="2019-06-01",end="2019-06-10", freq="1B")  # Business days

DatetimeIndex(['2019-06-03', '2019-06-04', '2019-06-05', '2019-06-06',
               '2019-06-07', '2019-06-10'],
              dtype='datetime64[ns]', freq='B')

In [17]:
pd.date_range(start="2019-06-01",end="2019-06-10", freq="1W")  # only sundays...

DatetimeIndex(['2019-06-02', '2019-06-09'], dtype='datetime64[ns]', freq='W-SUN')

In [ ]:
pd.date_range(start="2019-06-01",end="2019-06-10", freq="W-FRI")  # only sundays...

In [20]:
pd.date_range(start="2019-06-01",end="2019-06-10", freq="10H")  #

DatetimeIndex(['2019-06-01 00:00:00', '2019-06-01 10:00:00',
               '2019-06-01 20:00:00', '2019-06-02 06:00:00',
               '2019-06-02 16:00:00', '2019-06-03 02:00:00',
               '2019-06-03 12:00:00', '2019-06-03 22:00:00',
               '2019-06-04 08:00:00', '2019-06-04 18:00:00',
               '2019-06-05 04:00:00', '2019-06-05 14:00:00',
               '2019-06-06 00:00:00', '2019-06-06 10:00:00',
               '2019-06-06 20:00:00', '2019-06-07 06:00:00',
               '2019-06-07 16:00:00', '2019-06-08 02:00:00',
               '2019-06-08 12:00:00', '2019-06-08 22:00:00',
               '2019-06-09 08:00:00', '2019-06-09 18:00:00'],
              dtype='datetime64[ns]', freq='10H')

In [21]:
pd.date_range(start="2019-01-01",end="2019-12-31", freq="M")  # month ends....

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='M')

In [22]:
pd.date_range(start="2019-01-01",end="2019-12-31", freq="MS")  # month ends....

DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [23]:
pd.date_range(start="2019-01-01",end="2050-12-31", freq="A")  # END day of each year

DatetimeIndex(['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31',
               '2023-12-31', '2024-12-31', '2025-12-31', '2026-12-31',
               '2027-12-31', '2028-12-31', '2029-12-31', '2030-12-31',
               '2031-12-31', '2032-12-31', '2033-12-31', '2034-12-31',
               '2035-12-31', '2036-12-31', '2037-12-31', '2038-12-31',
               '2039-12-31', '2040-12-31', '2041-12-31', '2042-12-31',
               '2043-12-31', '2044-12-31', '2045-12-31', '2046-12-31',
               '2047-12-31', '2048-12-31', '2049-12-31', '2050-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

#### PART_2

In [24]:
pd.date_range(start="2019-06-01",periods=10,freq="D")

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-08',
               '2019-06-09', '2019-06-10'],
              dtype='datetime64[ns]', freq='D')

In [25]:
pd.date_range(start="2019-06-01",periods=10,freq="2D")

DatetimeIndex(['2019-06-01', '2019-06-03', '2019-06-05', '2019-06-07',
               '2019-06-09', '2019-06-11', '2019-06-13', '2019-06-15',
               '2019-06-17', '2019-06-19'],
              dtype='datetime64[ns]', freq='2D')

In [26]:
pd.date_range(start="2019-06-01",periods=10,freq="1W")

DatetimeIndex(['2019-06-02', '2019-06-09', '2019-06-16', '2019-06-23',
               '2019-06-30', '2019-07-07', '2019-07-14', '2019-07-21',
               '2019-07-28', '2019-08-04'],
              dtype='datetime64[ns]', freq='W-SUN')

In [27]:
pd.date_range(start="2019-06-01",periods=10,freq="W-MON")

DatetimeIndex(['2019-06-03', '2019-06-10', '2019-06-17', '2019-06-24',
               '2019-07-01', '2019-07-08', '2019-07-15', '2019-07-22',
               '2019-07-29', '2019-08-05'],
              dtype='datetime64[ns]', freq='W-MON')

### .dt accessor

In [2]:
%reset -f
import pandas as pd
import datetime as dt

In [3]:
bunch_of_dates  = pd.date_range(start="2019-06-01",end="2020-06-15", freq="9D")

In [4]:
# Passed this to pandas Series Constructor., and get a series of date time object... see the dtype.. below
s = pd.Series(bunch_of_dates)

In [7]:
s.head(6)

0   2019-06-01
1   2019-06-10
2   2019-06-19
3   2019-06-28
4   2019-07-07
5   2019-07-16
dtype: datetime64[ns]

In [8]:
s.dt.day
s.dt.weekday_name

0      Saturday
1        Monday
2     Wednesday
3        Friday
4        Sunday
5       Tuesday
6      Thursday
7      Saturday
8        Monday
9     Wednesday
10       Friday
11       Sunday
12      Tuesday
13     Thursday
14     Saturday
15       Monday
16    Wednesday
17       Friday
18       Sunday
19      Tuesday
20     Thursday
21     Saturday
22       Monday
23    Wednesday
24       Friday
25       Sunday
26      Tuesday
27     Thursday
28     Saturday
29       Monday
30    Wednesday
31       Friday
32       Sunday
33      Tuesday
34     Thursday
35     Saturday
36       Monday
37    Wednesday
38       Friday
39       Sunday
40      Tuesday
41     Thursday
42     Saturday
dtype: object

In [41]:
mask = s.dt.is_month_start
s[mask]

0    2019-06-01
17   2019-11-01
dtype: datetime64[ns]

### import financial

In [45]:
%reset -f
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [48]:
company = "MSFT"
start = "2010-01-01"
end = "2019-12-31"


stocks = data.DataReader(name = company, data_source= "yahoo", start= start, end=end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.525019
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.532942
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.382378

In [49]:
stocks.values

array([[3.11000004e+01, 3.05900002e+01, 3.06200008e+01, 3.09500008e+01,
        3.84091000e+07, 2.45250187e+01],
       [3.11000004e+01, 3.06399994e+01, 3.08500004e+01, 3.09599991e+01,
        4.97496000e+07, 2.45329418e+01],
       [3.10799999e+01, 3.05200005e+01, 3.08799992e+01, 3.07700005e+01,
        5.81824000e+07, 2.43823776e+01],
       ...,
       [1.23279999e+02, 1.20650002e+02, 1.21279999e+02, 1.23160004e+02,
        2.93826000e+07, 1.23160004e+02],
       [1.25870003e+02, 1.24209999e+02, 1.24949997e+02, 1.25830002e+02,
        2.45253000e+07, 1.25830002e+02],
       [1.26480003e+02, 1.25610001e+02, 1.26440002e+02, 1.25995003e+02,
        3.34788000e+06, 1.25995003e+02]])

In [50]:
stocks.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [51]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2019-05-23', '2019-05-24', '2019-05-28', '2019-05-29',
               '2019-05-30', '2019-05-31', '2019-06-03', '2019-06-04',
               '2019-06-05', '2019-06-06'],
              dtype='datetime64[ns]', name='Date', length=2372, freq=None)

In [52]:
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2019-05-23', '2019-05-24', '2019-05-28', '2019-05-29',
                '2019-05-30', '2019-05-31', '2019-06-03', '2019-06-04',
                '2019-06-05', '2019-06-06'],
               dtype='datetime64[ns]', name='Date', length=2372, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

### selecting from a dF with datetimeindex

In [53]:
%reset -f
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [54]:
company = "MSFT"
start = "2010-01-01"
end = "2019-12-31"


stocks = data.DataReader(name = company, data_source= "yahoo", start= start, end=end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.525019
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.532942
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.382378

In [55]:
stocks.loc["2010-01-04"]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.452502e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [56]:
stocks.iloc[0]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.452502e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [57]:
stocks.iloc[330]

High         2.644000e+01
Low          2.567000e+01
Open         2.574000e+01
Close        2.619000e+01
Volume       6.920000e+07
Adj Close    2.131060e+01
Name: 2011-04-26 00:00:00, dtype: float64

In [58]:
# because stock market is closed on Satureday...
stocks.iloc["2019-06-01"]

TypeError: cannot do positional indexing on <class 'pandas.core.indexes.datetimes.DatetimeIndex'> with these indexers [2019-06-01] of <class 'str'>

In [59]:
stocks.loc["2010-01-01":"2010-01-10"]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.525019
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.532942
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.382378
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  24.128809
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  24.295214

In [ ]:
# lets say,,.. stock market on May-2nd every year

In [64]:
birthdays = pd.date_range(start="1990-02-17",end="2019-02-17", freq=pd.DateOffset(years = 1))

In [69]:
mask = stocks.index.isin(birthdays)

In [70]:
stocks.loc[mask]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-02-17  28.650000  28.360001  28.530001  28.590000  45882900.0  22.760880
2011-02-17  27.370001  26.910000  26.969999  27.209999  57207300.0  22.140572
2012-02-17  31.320000  30.950001  31.200001  31.250000  70036500.0  26.120890
2015-02-17  44.000000  43.189999  43.970001  43.580002  33695700.0  39.668488
2016-02-17  52.770000  51.450001  51.490002  52.419998  40789000.0  49.017113
2017-02-17  64.690002  64.300003  64.470001  64.620003  21248800.0  62.014332

### Timestamp object attributes

In [4]:
%reset -f
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [5]:
company = "MSFT"
start = "2010-01-01"
end = "2019-12-31"


stocks = data.DataReader(name = company, data_source= "yahoo", start= start, end=end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.525019
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.532942
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.382378

In [75]:
someday = stocks.index[500]

In [81]:
someday.day_name

In [82]:
someday.is_leap_year

False

In [83]:
someday.is_month_end

False

In [84]:
someday.is_month_start

False

In [85]:
someday.is_quarter_end

False

In [86]:
stocks.insert(loc = 0,column="day_of_weak",value=stocks.index.weekday_name)

In [89]:
stocks.head(6)

,day_of_weak,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,24.525019
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,24.532942
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,24.382378
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,24.128809
2010-01-08,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,24.295214
2010-01-11,Monday,30.760000,30.120001,30.709999,30.270000,68754700.0,23.986179

In [90]:
stocks.insert(loc=1, column="start_of_month", value=stocks.index.is_month_start)

In [94]:
stocks.head(10)

,day_of_weak,start_of_month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,24.525019
2010-01-05,Tuesday,False,31.100000,30.639999,30.850000,30.959999,49749600.0,24.532942
2010-01-06,Wednesday,False,31.080000,30.520000,30.879999,30.770000,58182400.0,24.382378
2010-01-07,Thursday,False,30.700001,30.190001,30.629999,30.450001,50559700.0,24.128809
2010-01-08,Friday,False,30.879999,30.240000,30.280001,30.660000,51197400.0,24.295214
2010-01-11,Monday,False,30.760000,30.120001,30.709999,30.270000,68754700.0,23.986179
2010-01-12,Tuesday,False,30.400000,29.910000,30.150000,30.070000,65912100.0,23.827694
2010-01-13,Wednesday,False,30.520000,30.010000,30.260000,30.350000,51863500.0,24.049570
2010-01-14,Thursday,False,31.100000,30.260000,30.309999,30.959999,63228100.0,24.532942
2010-01-15,Friday,False,31.240000,30.709999,31.080000,30.860001,79913200.0,24.453693

In [96]:
mask = stocks["start_of_month"] == True

In [97]:
stocks[mask]

,day_of_weak,start_of_month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.512297
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,23.103207
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,23.214651
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.704370
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.521185
2010-09-01,Wednesday,True,23.950001,23.540001,23.670000,23.900000,65235900.0,19.214916
2010-10-01,Friday,True,24.820000,24.299999,24.770000,24.379999,62672300.0,19.600819
2010-11-01,Monday,True,27.219999,26.700001,26.879999,26.950001,61912100.0,21.667025
2010-12-01,Wednesday,True,26.250000,25.559999,25.570000,26.040001,74123500.0,21.064047
2011-02-01,Tuesday,True,28.059999,27.610001,27.799999,27.990000,62810700.0,22.641428
2011-03-01,Tuesday,True,26.780001,26.150000,26.600000,26.160000,60055000.0,21.286194
2011-04-01,Friday,True,25.530001,25.309999,25.530001,25.480000,63114200.0,20.732882
2011-06-01,Wednesday,True,25.100000,24.370001,24.990000,24.430000,74033500.0,20.008806
2011-07-01,Friday,True,26.170000,25.840000,25.930000,26.020000,52906200.0,21.311052
2011-08-01,Monday,True,27.690001,26.750000,27.510000,27.270000,61838400.0,22.334837
2011-09-01,Thursday,True,26.860001,26.209999,26.459999,26.209999,60510800.0,21.602161
2011-11-01,Tuesday,True,26.320000,25.860001,26.190001,25.990000,61182600.0,21.420837
2011-12-01,Thursday,True,25.629999,25.200001,25.559999,25.280001,48545400.0,20.992548
2012-02-01,Wednesday,True,30.049999,29.760000,29.790001,29.889999,67409900.0,24.820702
2012-03-01,Thursday,True,32.389999,31.850000,31.930000,32.290001,77344100.0,26.990191
2012-05-01,Tuesday,True,32.340000,31.950001,32.049999,32.009998,43832300.0,26.756149
2012-06-01,Friday,True,28.959999,28.440001,28.760000,28.450001,56634300.0,23.936499
2012-08-01,Wednesday,True,29.650000,29.209999,29.590000,29.410000,31721800.0,24.744194
2012-10-01,Monday,True,29.980000,29.420000,29.809999,29.490000,54042700.0,24.975866
2012-11-01,Thursday,True,29.559999,28.820000,28.840000,29.520000,72047900.0,25.001280
2013-02-01,Friday,True,28.049999,27.549999,27.670000,27.930000,55565900.0,23.849043
2013-03-01,Friday,True,27.980000,27.520000,27.719999,27.950001,34849700.0,24.063715
2013-04-01,Monday,True,28.660000,28.360001,28.639999,28.610001,29201100.0,24.631943
2013-05-01,Wednesday,True,33.080002,32.599998,32.930000,32.720001,54330900.0,28.170473
2013-07-01,Monday,True,34.990002,34.330002,34.750000,34.360001,31055400.0,29.789886
...,...,...,...,...,...,...,...,...
2015-10-01,Thursday,True,44.750000,43.750000,44.750000,44.610001,28657900.0,41.139439
2015-12-01,Tuesday,True,55.230000,54.299999,54.410000,55.220001,39952800.0,51.267258
2016-02-01,Monday,True,55.090000,54.500000,54.880001,54.709999,44208500.0,50.793755
2016-03-01,Tuesday,True,52.590000,50.919998,50.970001,52.580002,33024500.0,49.166725
2016-04-01,Friday,True,55.610001,54.570000,55.049999,55.570000,24399200.0,51.962627
2016-06-01,Wednesday,True,52.950001,52.439999,52.439999,52.849998,25324800.0,49.764847
2016-07-01,Friday,True,51.720001,51.070000,51.130001,51.160000,21400400.0,48.173504
2016-08-01,Monday,True,56.750000,56.139999,56.599998,56.580002,26003400.0,53.277107
2016-09-01,Thursday,True,57.820000,57.009998,57.009998,57.590000,26075400.0,54.566135
2016-11-01,Tuesday,True,60.020000,59.250000,59.970001,59.799999,24533000.0,56.660099
2016-12-01,Thursday,True,60.150002,58.939999,60.110001,59.200001,34542100.0,56.470524
2017-02-01,Wednesday,True,64.620003,63.470001,64.360001,63.580002,39671500.0,60.648590
2017-03-01,Wednesday,True,64.989998,64.019997,64.129997,64.940002,26937500.0,62.321438
2017-05-01,Monday,True,69.550003,68.500000,68.680000,69.410004,31954400.0,66.611198
2017-06-01,Thursday,True,70.610001,69.449997,70.239998,70.099998,21603600.0,67.658966
2017-08-01,Tuesday,True,73.419998,72.489998,73.099998,72.580002,22132300.0,70.052635
2017-09-01,Friday,True,74.739998,73.639999,74.709999,73.940002,21736200.0,71.745491
2017-11-01,Wednesday,True,83.760002,82.879997,83.680000,83.180000,22307400.0,80.711250
2017-12-01,Friday,True,84.809998,83.220001,83.599998,84.260002,29532100.0,82.169785
2018-02-01,Thursday,True,96.070000,93.580002,94.790001,94.260002,47227900.0,91.921715
2018-03-01,Thursday,True,94.570000,91.839996,93.989998,92.849998,37135600.0,90.972031
2018-05-01,Tuesday,True,95.290001,92.790001,93.209999,95.000000,31408900.0,93.078545
2018-06-01,Friday,True,100.860001,99.169998,99.279999,100.790001,28655600.0,99.179474
2018-08-01,Wednesday,True,106.449997,105.419998,106.029999,106.279999,23628700.0,104.581749
2018-10-01,Monday,True,115.680000,114.730003,114.750000,115.610001,18883100.0,114.200455
2018-11-01,Thursday,True,107.320000,105.529999,107.050003,105.919998,33384200.0,104.628593
2019-02-01,Friday,True,104.099998,102.349998,103.779999,102.779999,35535700.0,101.965477
2019-03-01,Friday,True,113.019997,111.669998,112.889999,112.529999,23501200.0,112.114990
2019-04-01,Monday,True,119.110001,118.099998,118.949997,119.019997,22789100.0,118.581055
2019-05-01,Wednesday,True,130.649994,127.699997,130.529999,127.879997,26821700.0,127.408379

#### truncate method

In [1]:
%reset -f
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [7]:
company = "AMZN"
start = "2010-01-01"
end = "2019-12-31"


stocks = data.DataReader(name = company, data_source= "yahoo", start= start, end=end)
stocks.head(3)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-01-04,136.610001,133.139999,136.250000,133.899994,7599900,133.899994
2010-01-05,135.479996,131.809998,133.429993,134.690002,8851900,134.690002
2010-01-06,134.729996,131.649994,134.600006,132.250000,7178800,132.250000

In [15]:
# make sure your index .. ( datetime) index is sorted... 
# luckily, in pandas datetime index.. it is the case built... but be careful....
# before = start, after = end
stocks.truncate(before="2013-02-07",after="2013-02-28")

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2013-02-07,264.100006,255.110001,264.100006,260.230011,3975700,260.230011
2013-02-08,265.250000,260.549988,261.399994,261.950012,3879200,261.950012
2013-02-11,263.250000,256.600006,263.200012,257.209991,3403700,257.209991
2013-02-12,260.160004,257.000000,259.190002,258.700012,2943700,258.700012
2013-02-13,269.959991,260.299988,261.529999,269.470001,5293000,269.470001
2013-02-14,270.649994,265.399994,267.369995,269.239990,3463000,269.239990
2013-02-15,268.920013,263.109985,267.630005,265.089996,3979900,265.089996
2013-02-19,270.109985,264.500000,265.910004,269.750000,2854200,269.750000
2013-02-20,274.299988,266.369995,270.200012,266.410004,3528900,266.410004
2013-02-21,269.480011,263.250000,265.119995,265.940002,3637400,265.940002
2013-02-22,267.109985,261.609985,266.619995,265.420013,3124800,265.420013
2013-02-25,268.690002,259.649994,266.940002,259.869995,3032400,259.869995
2013-02-26,262.040009,255.729996,260.890015,259.359985,3348600,259.359985
2013-02-27,265.829987,256.859985,259.399994,263.250000,2908100,263.250000
2013-02-28,267.000000,260.630005,261.809998,264.269989,2667200,264.269989

#### pd.dateoffset Objects

In [25]:
%reset -f
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [29]:
stocks = data.DataReader(name = "GOOG", data_source= "yahoo", start= dt.date(2000,1,1), end= dt.datetime.now())
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.693783  47.669952  49.676899  49.845802  44994500.0  49.845802
2004-08-20  54.187561  49.925285  50.178635  53.805050  23005800.0  53.805050
2004-08-23  56.373344  54.172661  55.017166  54.346527  18393200.0  54.346527

In [30]:
stocks.tail(3)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-06-05,1053.550049,1030.489990,1051.540039,1042.219971,2168400.0,1042.219971
2019-06-06,1047.489990,1033.699951,1044.989990,1044.339966,1703200.0,1044.339966
2019-06-07,1070.920044,1048.400024,1050.630005,1066.040039,1801900.0,1066.040039

In [33]:
# how to add or subtract ... from existing datetime
stocks.index - pd.DateOffset(months = 2)

DatetimeIndex(['2004-06-19', '2004-06-20', '2004-06-23', '2004-06-24',
               '2004-06-25', '2004-06-26', '2004-06-27', '2004-06-30',
               '2004-06-30', '2004-07-01',
               ...
               '2019-03-24', '2019-03-28', '2019-03-29', '2019-03-30',
               '2019-03-31', '2019-04-03', '2019-04-04', '2019-04-05',
               '2019-04-06', '2019-04-07'],
              dtype='datetime64[ns]', name='Date', length=3726, freq=None)

In [36]:
stocks.index + pd.DateOffset(hours = 2)

DatetimeIndex(['2004-08-19 02:00:00', '2004-08-20 02:00:00',
               '2004-08-23 02:00:00', '2004-08-24 02:00:00',
               '2004-08-25 02:00:00', '2004-08-26 02:00:00',
               '2004-08-27 02:00:00', '2004-08-30 02:00:00',
               '2004-08-31 02:00:00', '2004-09-01 02:00:00',
               ...
               '2019-05-24 02:00:00', '2019-05-28 02:00:00',
               '2019-05-29 02:00:00', '2019-05-30 02:00:00',
               '2019-05-31 02:00:00', '2019-06-03 02:00:00',
               '2019-06-04 02:00:00', '2019-06-05 02:00:00',
               '2019-06-06 02:00:00', '2019-06-07 02:00:00'],
              dtype='datetime64[ns]', name='Date', length=3726, freq=None)

In [38]:
stocks.index - pd.DateOffset(years = 1, months = 1, days = 10)

DatetimeIndex(['2003-07-09', '2003-07-10', '2003-07-13', '2003-07-14',
               '2003-07-15', '2003-07-16', '2003-07-17', '2003-07-20',
               '2003-07-21', '2003-07-22',
               ...
               '2018-04-14', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-20', '2018-04-23', '2018-04-24', '2018-04-25',
               '2018-04-26', '2018-04-27'],
              dtype='datetime64[ns]', name='Date', length=3726, freq=None)

#### more fun with pd.Dateoffset Objects

In [39]:
%reset -f
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [40]:
stocks = data.DataReader(name = "GOOG", data_source= "yahoo", start= dt.date(2000,1,1), end= dt.datetime.now())
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.693783  47.669952  49.676899  49.845802  44994500.0  49.845802
2004-08-20  54.187561  49.925285  50.178635  53.805050  23005800.0  53.805050
2004-08-23  56.373344  54.172661  55.017166  54.346527  18393200.0  54.346527

In [42]:
# how to set like.. at the end beginning of each quater... or end of months...
# may be not so smooth.. so need to be more clever... in sense....

In [44]:
stocks.index

DatetimeIndex(['2004-08-19', '2004-08-20', '2004-08-23', '2004-08-24',
               '2004-08-25', '2004-08-26', '2004-08-27', '2004-08-30',
               '2004-08-31', '2004-09-01',
               ...
               '2019-05-24', '2019-05-28', '2019-05-29', '2019-05-30',
               '2019-05-31', '2019-06-03', '2019-06-04', '2019-06-05',
               '2019-06-06', '2019-06-07'],
              dtype='datetime64[ns]', name='Date', length=3726, freq=None)

In [47]:
# but if it already at the end of months.. pandas still keep the offset and shoft to the next end of the months....
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-08-31',
               ...
               '2019-04-30', '2019-04-30', '2019-04-30', '2019-04-30',
               '2019-04-30', '2019-05-31', '2019-05-31', '2019-05-31',
               '2019-05-31', '2019-05-31'],
              dtype='datetime64[ns]', name='Date', length=3726, freq=None)

In [48]:
%reset -f
import pandas as pd
import datetime as dt
from pandas_datareader import data
    from pandas.tseries.offsets import *

In [49]:
stocks = data.DataReader(name = "GOOG", data_source= "yahoo", start= dt.date(2000,1,1), end= dt.datetime.now())
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.693783  47.669952  49.676899  49.845802  44994500.0  49.845802
2004-08-20  54.187561  49.925285  50.178635  53.805050  23005800.0  53.805050
2004-08-23  56.373344  54.172661  55.017166  54.346527  18393200.0  54.346527

In [54]:
stocks.index - MonthEnd()
stocks.index + BMonthEnd()
stocks.index + QuarterBegin()
stocks.index + YearEnd()

DatetimeIndex(['2004-12-31', '2004-12-31', '2004-12-31', '2004-12-31',
               '2004-12-31', '2004-12-31', '2004-12-31', '2004-12-31',
               '2004-12-31', '2004-12-31',
               ...
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', length=3726, freq=None)

#### The Timedelta Object

In [2]:
# it represent a duration
# i.e. time span or a length of time....

In [3]:
import pandas as pd

In [14]:
t1 = pd.Timestamp("2019-06-01 4:53:58")
t2 = pd.Timestamp("2019-06-05 12:36:02")

In [15]:
t2 - t1

Timedelta('4 days 07:42:04')

In [17]:
type(t2)

pandas._libs.tslibs.timestamps.Timestamp

In [18]:
type(t2 - t1)

pandas._libs.tslibs.timedeltas.Timedelta

In [25]:
# parameters here are extatly the same as date offset method
pd.Timedelta(days = 3)
pd.Timedelta(hours = 12)
pd.Timedelta(weeks = 12)
pd.Timedelta(days = 3, hours = 7, weeks = 9, minutes = 1)
# year doesn't work here...

Timedelta('66 days 07:01:00')

In [26]:
pd.Timedelta("5 minutes")

Timedelta('0 days 00:05:00')

In [27]:
pd.Timedelta("6 hours 12 minutes")

Timedelta('0 days 06:12:00')

In [28]:
pd.Timedelta("14 days 6 hours 12 minutes")

Timedelta('14 days 06:12:00')

### Timedeltas in a Dataset

In [29]:
%reset -f
import pandas as pd

In [34]:
shipping = pd.read_csv("files_for_pandas/ecommerce.csv", index_col="ID", parse_dates=["order_date","delivery_date"])

In [36]:
shipping.head(6)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10
8  1993-06-10    1993-11-11

In [38]:
shipping["delivery_time"] = shipping["delivery_date"] - shipping["order_date"]

In [39]:
shipping.head(6)

   order_date delivery_date delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days
8  1993-06-10    1993-11-11      154 days

In [46]:
shipping["check_order_date"] = shipping["delivery_date"] - shipping["delivery_time"]

In [47]:
shipping.head(6)

   order_date delivery_date delivery_time check_order_date
ID
1  1998-05-24    1999-02-05      257 days       1998-05-24
2  1992-04-22    1998-03-06     2144 days       1992-04-22
4  1991-02-10    1992-08-26      563 days       1991-02-10
5  1992-07-21    1997-11-20     1948 days       1992-07-21
7  1993-09-02    1998-06-10     1742 days       1993-09-02
8  1993-06-10    1993-11-11      154 days       1993-06-10

In [48]:
shipping.dtypes

order_date           datetime64[ns]
delivery_date        datetime64[ns]
delivery_time       timedelta64[ns]
check_order_date     datetime64[ns]
dtype: object

In [52]:
mask = shipping["delivery_time"] > "365 days"
shipping[mask]

    order_date delivery_date delivery_time check_order_date
ID
2   1992-04-22    1998-03-06     2144 days       1992-04-22
4   1991-02-10    1992-08-26      563 days       1991-02-10
5   1992-07-21    1997-11-20     1948 days       1992-07-21
7   1993-09-02    1998-06-10     1742 days       1993-09-02
9   1990-01-25    1994-10-02     1711 days       1990-01-25
10  1992-02-23    1998-12-30     2502 days       1992-02-23
11  1996-07-12    1997-07-14      367 days       1996-07-12
18  1995-06-18    1997-10-13      848 days       1995-06-18
20  1992-10-17    1998-10-06     2180 days       1992-10-17
23  1992-05-30    1999-08-15     2633 days       1992-05-30
26  1996-04-11    1998-05-04      753 days       1996-04-11
32  1990-01-20    1998-07-24     3107 days       1990-01-20
33  1994-09-21    1996-10-12      752 days       1994-09-21
35  1993-09-10    1996-04-28      961 days       1993-09-10
36  1990-05-15    1994-02-14     1371 days       1990-05-15
39  1990-03-26    1993-01-25     1036 days       1990-03-26
41  1992-02-06    1996-05-10     1555 days       1992-02-06
50  1991-05-03    1999-07-17     2997 days       1991-05-03
52  1994-09-02    1997-05-14      985 days       1994-09-02
53  1995-11-29    1998-06-23      937 days       1995-11-29
54  1996-08-07    1998-04-04      605 days       1996-08-07
60  1993-02-14    1995-08-06      903 days       1993-02-14
63  1990-12-22    1995-09-02     1715 days       1990-12-22
64  1990-11-25    1998-05-14     2727 days       1990-11-25
66  1992-09-08    1998-12-29     2303 days       1992-09-08
67  1990-05-04    1993-02-04     1007 days       1990-05-04
70  1994-02-16    1999-11-06     2089 days       1994-02-16
71  1990-11-25    1998-04-06     2689 days       1990-11-25
73  1991-10-01    1993-05-19      596 days       1991-10-01
75  1990-06-25    1996-12-18     2368 days       1990-06-25
..         ...           ...           ...              ...
907 1994-08-11    1998-09-28     1509 days       1994-08-11
908 1993-11-04    1997-02-26     1210 days       1993-11-04
909 1991-01-19    1998-08-22     2772 days       1991-01-19
916 1994-12-03    1997-03-26      844 days       1994-12-03
918 1994-12-29    1996-07-29      578 days       1994-12-29
919 1992-01-25    1993-06-01      493 days       1992-01-25
922 1996-07-06    1998-12-05      882 days       1996-07-06
924 1991-03-17    1996-05-13     1884 days       1991-03-17
926 1990-10-31    1994-04-12     1259 days       1990-10-31
935 1990-09-26    1998-03-07     2719 days       1990-09-26
938 1993-03-24    1995-07-15      843 days       1993-03-24
942 1992-04-14    1997-03-03     1784 days       1992-04-14
943 1991-01-30    1999-12-02     3228 days       1991-01-30
945 1992-10-27    1994-11-03      737 days       1992-10-27
946 1991-07-02    1996-02-23     1697 days       1991-07-02
947 1991-06-18    1999-06-11     2915 days       1991-06-18
951 1991-10-02    1994-04-18      929 days       1991-10-02
953 1991-09-26    1994-05-08      955 days       1991-09-26
956 1995-08-23    1999-01-10     1236 days       1995-08-23
957 1994-10-01    1999-07-25     1758 days       1994-10-01
958 1990-04-26    1997-06-29     2621 days       1990-04-26
972 1990-02-07    1995-11-05     2097 days       1990-02-07
981 1997-01-31    1998-03-04      397 days       1997-01-31
983 1994-12-30    1997-07-29      942 days       1994-12-30
984 1991-07-25    1999-02-09     2756 days       1991-07-25
986 1990-12-10    1992-12-16      737 days       1990-12-10
990 1991-06-24    1996-02-02     1684 days       1991-06-24
991 1991-09-09    1998-03-30     2394 days       1991-09-09
993 1990-11-16    1998-04-27     2719 days       1990-11-16
997 1990-01-04    1991-10-03      637 days       1990-01-04

[394 rows x 4 columns]

In [53]:
shipping["delivery_time"].max()

Timedelta('3583 days 00:00:00')

In [54]:
shipping["delivery_time"].min()

Timedelta('8 days 00:00:00')