In [2]:
# List Comprehension, list of squres
%reset -f
l_1 = []
for i in range(1,11):
    l_1.append(i**2)
print(l_1)
#----------------------------------------

print("\n")
print("************************************")
l_2 = [i**2 for i in range(1,11)]
print(l_2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


************************************
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
# -1,-2...-10 , 
%reset -f
lis_1 = [-i for i in range(1,11)]
print(lis_1)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [17]:
# First letter going to other lisr
%reset -f
name = ["Max","Saadi","Bilaian"]


# Normal
# ---------------
lis_let1 = []
for i in name:
    lis_let1.append(i[0])
    
print(lis_let1)
        
# List Comprehension
# ------------------
lis_let2 = [i[0] for i in name]
print(lis_let2)

['M', 'S', 'B']
['M', 'S', 'B']

In [19]:
# list comprehension to reverse every string in list
%reset -f
lis_1 = ["abc","def","ghi"]
lis_2 = [i[::-1] for i in lis_1]
print(lis_2)

['cba', 'fed', 'ihg']

In [38]:
# list comprehension with if
%reset -f
#lis_1 = list(range(1,11))
lis_2 = [i for i in range(1,11) if i%2 == 0]
# lis_2 = [i if (i%2 == 0) for i in range(1,11) if i%2 == 0]
print(lis_2)

[2, 4, 6, 8, 10]

In [35]:
# exercise to store only int or float in main list
%reset -f
lis_1 = [True, False, [1,2,3],(2,3,4),1,1.5,3]
lis_2 = [str(i) for i in lis_1 if (type(i) == int or type(i) == float)]
print(lis_2)

['1', '1.5', '3']

In [42]:
# List Comprehension with if, else statement
%reset -f
num = [1,2,3,4,5,6,7,8,9,10]
lis_1 = [i**2 if(i%2==0) else -i for i in num]
print(lis_1)

[-1, 4, -3, 16, -5, 36, -7, 64, -9, 100]

In [49]:
# List Comprehension for nested lists
%reset -f
b = [[i for i in range(1,4)]]*3
c = [ [i for i in range(1,4)] for j in range(1,4) ]
print(b)
print(c)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [5]:
# create a new list called "newlist" out of the list "numbers", which contains only the positive 
# numbers from the list, as integers.

numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]

newlist = [int(i) for i in numbers if i>0]
print(newlist)

[34, 44, 68, 44, 12]

In [60]:
# ["1, foo, bar" , "2, tom, jerry"]  ----> [[1, 'foo', 'bar'], [2, 'tom', 'jerry']]
# Exercise
%reset -f

inputs = ["1, foo, bar" , "2, tom, jerry"]

#Method-1:
#--------
outputs_1 = []
for s in inputs:
    for (i,j,k) in [s.split(",")]:
        outputs_1.append([int(i),j.strip(),k.strip()])
        
print(outputs_1)

#Method-2
#--------
outputs_2 = [ [int(i),j.strip(),k.strip()] for s in inputs for (i,j,k) in [s.split(",")] ]
print(outputs_2)

[[1, 'foo', 'bar'], [2, 'tom', 'jerry']]
[[1, 'foo', 'bar'], [2, 'tom', 'jerry']]

In [77]:
#Exercise , create Pythagorean triples
%reset -f

p_lis= [ (x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if x**2 + y**2 == z**2 ]
print(p_lis)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (20, 21, 29)]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]